<!DOCTYPE html>
<!--[if gt IE 8]><html class="ie" lang="en"><![endif]-->
<!--[if lt IE 9]><html class="lt-ie9" lang="en"><![endif]-->
<!--> <html lang="en"> <!--<![endif]-->
<head>
    <title>Užklausos forma</title>
    <meta content="authenticity_token" name="csrf-param" />
    <meta content="VXKXpXsQElf0f1luT5qtZZjUXImzDJ4NVfEkSWzfudk=" name="csrf-token" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Space+Mono:400,700" rel="stylesheet">
    <link href="https://d2rhdy377k7eul.cloudfront.net/assets/bootstrap_rebranding-6c866aa1a28d7bdb07cae052b5c1d897.css" media="all" rel="stylesheet" type="text/css" />
</head>

<body id="customize">
<header>

    <div class="header " id="header">
        <div class="header__container">
            <nav class="header__navigation">
                <span class="icon diamond"></span>
                <ul class="header__nav header__nav--left">
                    <li class="header__navItem">
                        <a href="#apie" class="header__link">{{ 'header.about'|trans }}</a>
                    </li>
                    <li class="header__navItem">
                        <a href="#galerija" class="header__link">{{ 'header.gallery'|trans }}</a>
                    </li>
                    <li class="header__navItem">
                        <a href="#uzsakyti" class="header__link">{{ 'header.order'|trans }}</a>
                    </li>
                </ul>

            </nav>
        </div>
    </div>

    <div class="mobileHeader">
        <div class="mobileHeader__container">
            <a href="#" id="js--mobileIcon"><i class="mobileHeader__icon fa fa-bars"></i></a>

            <span class="icon fa-diamond"></span>
        </div>

        <div id="js--mobileDropdown" class="mobileHeader__dropdown">
            <ul class="mobileHeader__links">
                <li class="mobileHeader__navItem">
                    <a href="#apie" class="header__link">{{ 'header.about'|trans }}</a>
                </li>
                <li class="mobileHeader__navItem">
                    <a href="#galerija" class="header__link">{{ 'header.gallery'|trans }}</a>
                </li>
                <li class="mobileHeader__navItem">
                    <a href="#uzsakyti" class="header__link">{{ 'header.order'|trans }}</a>
                </li>
            </ul>
        </div>
    </div>

</header>

<div id="wrapper" class="">
    {{ form_start(form) }}
    <input id="technology_id" name="technology_id" type="hidden" value="30686" />
        <div class="divided-section fixed-header-bar">
            <div class="js-fixed-header-bar">
                <div class="container absolute-container">
                    <div class="header-bar">
                        <div class="header-bar__text">
                            <h2 class="addon-page-header">
                                {{ 'order.header_text'|trans }}
                            </h2>
                            <p>
                                {{ 'order.header_paragraph'|trans }}
                            </p>
                        </div>
                        <div class="header-bar__subtotal call-to-action">
                            <div>
                                <div class="call-to-action__subtotal">
                                    <span class="call-to-action__cart-total">42 €</span>
                                </div>
                            </div>
                            {{ form_widget(form.submit) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="span5 pull-right panel panel-review u-tablet-hide">
                            <div class="panel-header">
                                <h4 class="light-header">{{ 'order.side_header'|trans }}</h4>
                            </div>
                            <div class="panel-inner">
                                <div class="thumbnail thumbnail-action">
                                    <img alt="" id="preview-image" src="{{ asset('images/pic02.jpg') }}" />
                                </div>
                                <div class="panel-inner clearfix">
                                    <b>{{ 'order.side_included'|trans }}:</b>
                                    <ul class="nav" id="js-kit-contains">
                                    </ul>
                                </div>
                                <div class="panel-inner clearfix alert alert-danger">
                                    <b>{{ 'order.side_excluded'|trans }}:</b>
                                    <ul class="nav" id="js-kit-requires">
                                    </ul>
                                </div>
                            </div>
                            <div class="panel-inner text-right cart-helper-text">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid divided-section">
            <div class="container">
                <div class="row">
                    <div class="span7">
                        <div class="panel panel-product js-addon-group">
                            <div class="panel-header">
                                <h4 class="light-header">{{ 'form.label_measurements'|trans }}</h4>
                            </div>
                            <div class="row">
                                <div class="span5">
                                    <div class="panel-inner">
                                        {{ 'form.label_width'|trans }}
                                        {{ form_widget(form.width) }}<br>
                                        {{ 'form.label_height'|trans }}
                                        {{ form_widget(form.height) }}
                                    </div>
                                </div>
                            </div>
                            <div class="section-arrow"></div>
                        </div>
                        <div class="panel panel-product js-addon-group">
                            <div class="panel-header">
                                <h4 class="light-header">{{ 'form.label_fixation'|trans }}</h4>
                            </div>
                            <div class="row">
                                <div class="span5">
                                    <div class="panel-inner">
                                        {{ form_widget(form.fixation) }}
                                    </div>
                                </div>
                            </div>
                            <div class="section-arrow"></div>
                        </div>
                        <div class="panel panel-product js-addon-group">
                            <div class="panel-header">
                                <h4 class="light-header">{{ 'form.label_purpose'|trans }}</h4>
                            </div>
                            <div class="row">
                                <div class="span5">
                                    <div class="panel-inner">
                                        {{ form_widget(form.purpose) }}
                                    </div>
                                </div>
                            </div>
                            <div class="section-arrow"></div>
                        </div>
                        <div class="panel panel-product js-addon-group">
                            <div class="panel-header">
                                <h4 class="light-header">{{ 'form.label_location'|trans }}</h4>
                            </div>
                            <div class="row">
                                <div class="span5">
                                    <div class="panel-inner">
                                        {{ form_widget(form.location) }}
                                    </div>
                                </div>
                            </div>
                            <div class="section-arrow"></div>
                        </div>
                        <div class="panel panel-product js-addon-group">
                            <div class="panel-header">
                                <h4 class="light-header">{{ 'form.label_certificate'|trans }}</h4>
                            </div>
                            <div class="row">
                                <div class="span5">
                                    <div class="panel-inner">
                                        {{ form_widget(form.certificate) }}
                                        {{ 'form.label_certificate_description'|trans }}
                                    </div>
                                </div>
                            </div>
                            <div class="section-arrow"></div>
                        </div>
                        <div class="panel panel-product js-addon-group">
                            <div class="panel-header">
                                <h4 class="light-header">{{ 'form.label_contacts'|trans }}</h4>
                            </div>
                            <div class="row">
                                <div class="span5">
                                    <div class="panel-inner">
                                        {{ 'form.label_name'|trans }}
                                        {{ form_widget(form.clientName) }}<br>
                                        {{ 'form.label_email'|trans }}
                                        {{ form_widget(form.clientEmail) }}<br>
                                        {{ 'form.label_phone'|trans }}
                                        {{ form_widget(form.clientPhone) }}<br>
                                        {{ 'form.label_city'|trans }}
                                        {{ form_widget(form.clientCity) }}
                                    </div>
                                </div>
                            </div>
                            <div class="section-arrow"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{ form_end(form) }}

    <div id="push"><!--//--></div>
</div>

<footer class="footer">
    <div class="container">
        <div class="footer__social">
            <div>
                <a href="#" class="footer__link footer__socialLink" target="_blank">
                    <i class="fa fa-instagram footer__socialIcon"></i>
                </a>
                <a href="#" class="footer__link footer__socialLink" target="_blank">
                    <i class="fa fa-facebook footer__socialIcon"></i>
                </a>
                <a href="#" class="footer__link footer__socialLink" target="_blank">
                    <i class="fa fa-twitter footer__socialIcon"></i>
                </a>
            </div>
        </div>

        <div class="footer__navigation">
            <ul class="footer__list">
                <li class="footer__listItem">
                    <a href="#apie" class="footer__link">{{ 'header.about'|trans }}</a>
                </li>
            </ul>

            <ul class="footer__list">
                <li class="footer__listItem">
                    <a href="#galerija" class="footer__link">{{ 'header.gallery'|trans }}</a>
                </li>
            </ul>

            <ul class="footer__list">
                <li class="footer__listItem">
                    <a href="#uzsakyti" class="footer__link">{{ 'header.order'|trans }}</a>
                </li>
            </ul>

            <div aria-role="hidden" class="footer__spacer">
            </div>
        </div>

        <div class="footer__disclaimer">
      <span class="footer__disclaimerItem">
        &copy; Laipiojimo sienelės, 2017
      </span>
        </div>
    </div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="{{ asset('js/count.js') }}" type="text/javascript"></script>
<script src="https://d2rhdy377k7eul.cloudfront.net/assets/bootstrap-cc0f2c5fbc5b24a440b72ccc50c54abd.js" type="text/javascript"></script>

</body>

</html>
