{% extends "::base.html.twig" %}

{% block body %}
    <ul>
        <li>
            {{ 'form.label_name'|trans }}: {{ order.clientName }}
        </li>
        <li>
            {{ 'form.label_email'|trans }}: {{ order.clientEmail }}
        </li>
        <li>
            {{ 'form.label_phone'|trans }}: {{ order.clientPhone }}
        </li>
        <li>
            {{ 'form.label_city'|trans }}: {{ order.clientCity }}
        </li>
        <li>
            {{ 'form.label_width'|trans }}: {{ order.width }} m
        </li>
        <li>
            {{ 'form.label_height'|trans }}: {{ order.height }} m
        </li>
        <li>
            {{ 'list.area'|trans }}: {{ (order.width * order.height)|round(1, 'common') }}
        </li>
    </ul>

    <a class="black" href="{{ path('orders_list') }}">Atgal</a>
{% endblock %}