{% extends "::base.html.twig" %}

{% block body %}
    <ul>
        <li>
            Name: {{ order.clientName }}
        </li>
        <li>
            Email: {{ order.clientEmail }}
        </li>
        <li>
            Phone number: {{ order.clientPhone }}
        </li>
        <li>
            City: {{ order.clientCity }}
        </li>
        <li>
            Width: {{ order.width }} m
        </li>
        <li>
            Height: {{ order.height }} m
        </li>
        <li>
            Area: {{ (order.width * order.height)|round(1, 'common') }}
        </li>
        <li>
            Fixation:
            {% if order.fixation == 1 %}
                Strong wall
            {% elseif order.fixation == 2 %}
                Weak wall
            {% elseif order.fixation == 3 %}
                Free standing
            {% endif %}
        </li>
        <li>
            Location:
            {% if order.location == 1 %}
                Indoor
            {% elseif order.location == 2 %}
                Shelter
            {% elseif order.location == 3 %}
                Outdoor
            {% endif %}
        </li>
        <li>
            Purpose:
            {% if order.purpose == 1 %}
                Profesional sport
            {% elseif order.purpose == 2 %}
                Amateur sport
            {% elseif order.purpose == 3 %}
                Recreational
            {% elseif order.purpose == 4 %}
                Playground
            {% endif %}
        </li>
    </ul>

    <a href="{{ path('orders_list') }}">Back</a>
{% endblock %}