<!DOCTYPE HTML>
<!--
	Forty by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}{{ "Laipiojimo sienelės" }}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="icon" type="image/x-icon" href="{{ asset('images/favicon.ico')}}">

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/style.css') }}" />
        <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
        <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
    {% endblock %}

    {% block canonical_meta %}{% endblock %}
</head>
<body>
    <div id="wrapper">
        {#{% block wrapper %}#}

            <!-- Header -->
            {% block header %}
                {% include "AppBundle:inc:header.html.twig" %}
            {% endblock %}

            <!-- Menu -->
            {% block menu %}
                {% include "AppBundle:inc:menu.html.twig" %}
            {% endblock %}

            <!-- Banner -->
            {% block banner %}
                {% include "AppBundle:inc:banner.html.twig" %}
            {% endblock %}

            <!-- Main -->
            {% block main %}
                {% include "AppBundle:inc:main.html.twig" %}
            {% endblock %}

            <!-- Contact -->
            {% block contact %}
                {% include "AppBundle:inc:contact.html.twig" %}
            {% endblock %}


            <!-- Footer -->
            {% block footer %}
                {% include "AppBundle:inc:footer.html.twig" %}
            {% endblock %}

        {#{% endblock %}#}
    </div>



    {% block javascripts %}
        <script src="{{ asset('js/jquery.min.js') }}"></script>
        <script src="{{ asset('js/jquery.scrolly.min.js') }}"></script>
        <script src="{{ asset('js/jquery.scrollex.min.js') }}"></script>
        <script src="{{ asset('js/skel.min.js') }}"></script>
        <script src="{{ asset('js/util.js') }}"></script>
        <script src="{{ asset('js/ie/respond.min.js') }}"></script>
        <script src="{{ asset('js/main.js') }}"></script>
    {% endblock %}

</body>
</html>