<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}{{ "My project" }}{% endblock %}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{ asset('images/favicon.ico')}}">
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/style.css') }}"/>
    {% endblock %}
    {% block canonical_meta %}{% endblock %}
</head>
<body>

    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <div class="title">You are now connected with facebook. </div>
        <div>
            <h1>Now you are ({{ app.user ? app.user.name : 'Aquanauts' }})</h1>
            <a href="{{ path('facebook_logout') }}" class="btn btn-danger">Logout</a>
        </div>
    {% else %}
        <a href="{{ path('app_facebook_connect') }}" class="btn btn-primary">
                <span class="icon">
                    <i class="fa fa-facebook"></i>
                </span>
            <span>Login with Facebook</span>
        </a>
    {% endif %}

    <div class="container">
        {% block container %}
            {% block header %}
                {% include "::inc/header.html.twig" %}
            {% endblock %}
            {% block body %}{% endblock %}
        {% endblock %}
    </div>

    {% block footer %}
        {% include "::inc/footer.html.twig" %}
    {% endblock %}

    {% block javascripts %}
        <script src="{{ asset('js/script.js') }}"></script>
    {% endblock %}

</body>
</html>