<h2 class="major">Galerija</h2>
<span class="image main"><img src="{{ asset('images/pic02.jpg') }}" alt="Didžiausia mūsų įrengta siena laipiojimo cetre Miegantys drambliai" /></span>
<span class="image main"><img src="{{ asset('images/pic03.jpg') }}" alt="Laipiojimo sienelė darželyje Vaikystės sodas" /></span>
<span class="image main"><img src="{{ asset('images/pic04.jpg') }}" alt="Laipiojimo sienelė vaikų žaidimų kambaryje 'Pingviniukas', Panevėžyje" /></span>
<span class="image main"><img src="{{ asset('images/pic05.jpg') }}" alt="Treniruočių kambarys senojoje 'Miegančių dramblių salėje'" /></span>
<span class="image main"><img src="{{ asset('images/pic06.jpg') }}" alt="Pirmoji mūsų statyta laipiojimo siena senosiose 'Miegančių dramblių' patalpose" /></span>
