{% extends "AppBundle::base.html.twig" %}
{% block banner %}{% endblock %}
{% block main %}
    <div id="main" class="alt">

        <!-- One -->
        <section id="one">
            <div class="inner">
                <header class="major">
                    <h1>{{ product.name }}</h1>
                </header>
                <span class="image main"><img src="{{ asset('images/' ~ product.mainPicture) }}" alt="" /></span>
                <p>{{ product.longDescription }}</p>
            </div>
        </section>

    </div>
{% endblock %}

{% block contact %}
    <h2>Užsakymo forma</h2>
{{ form_start(form) }}

    <div class="half field">
        {{ form_row(form.clientName) }}
    </div>
    <div class="half field">
        {{ form_row(form.clientEmail) }}
    </div>
    <div class="half field">
        {{ form_row(form.clientPhone) }}
    </div>
    <div class="half field">
        {{ form_row(form.clientCity) }}
    </div>
    <div class="half field">
        {{ form_row(form.width) }}
    </div>
    <div class="half field">
        {{ form_row(form.height) }}
    </div>
    <div class="half field">
        {{ form_row(form.productId) }}
    </div>
    <div class="half field">
        {{ form_row(form.submit) }}
    </div>

{{ form_end(form) }}

{% endblock %}
